CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MPU5=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/persistent/mpu5/mpu5.cfg,MX6Q,DDR_MB=2048"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_DM=y
CONFIG_SPI_FLASH=y
CONFIG_DM_THERMAL=y
