if TARGET_MX6MEMCAL

config SYS_BOARD
	default "mx6memcal"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx6memcal"

config DDRWIDTH
	int "DDR bus width"
	default 64

config DDRCS
	int "DDR chip selects"
	default 2

config MT41K512M16TNA
	bool "Micron MT41K512M16TNA"

config MT41K128M16JT
	bool "Micron MT41K128M16JT"

endif
